.clear-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
}

/*Todo Form*/

.todo-form button {
  margin-left: 2px;
  font-size: 20px;
  padding: 5px;
}
.todo-form {
  align-items: center;
  background-color: #f25287;
  padding-top: 40px;
  padding-bottom: 40px;
}

.task-entry {
  width: 300px;
  height: 30px;
  font-size: 20px;
  align-content: center;
}

/*App*/
.App {
  background-color: #dddddd;
  height: fit-content;
  /* display: flex;
  flex-direction: row; */
  text-align: center;
  border-radius: 20px;
}

.App h1 {
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.todo-list {
  background-color: #f7d9d9;
  height: fit-content;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

p {
  font-size: 30px;
  font-weight: 200;
}
