.clear-btn {
  margin-top: 30px;
  margin-top: 0;
}

/*Todo Form*/

.todo-form button {
  margin-left: 2px;
}
.todo-form {
  text-align: center;
}

.task-entry {
  width: 300px;
  font-size: 20px;
}

/*App*/
.App {
  border: red solid 1px;
  height: auto;
}

.App h1 {
  text-align: center;
}
