.clear-btn {
  margin-top: 340px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

/*Todo Form*/

.todo-form button {
  margin-left: 2px;
  font-size: 20px;
  padding: 5px;
}
.todo-form {
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.task-entry {
  width: 300px;
  height: 30px;
  font-size: 20px;
  align-content: center;
}

/*App*/
.App {
  background-color: #eff1db;
  height: fit-content;
  /* display: flex;
  flex-direction: row; */
  text-align: center;
  border-radius: 20px;
}

.App h1 {
  justify-content: center;
  padding-top: 20px;
}

.todo-list {
  background-color: #bbe7fe;
}
